<!doctype html>
<title>Classification</title>

<head>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/sticky-footer/sticky-footer.css">
  <link rel="stylesheet" href="/static/mdbootstrap/css/mdb.min.css">
  <link rel="stylesheet" href="/static/mdbootstrap/css/style.css">
</head>

<body>
  <div class="container">
    <div class="row d-flex justify-content-center my-2">
      <h1 class="text-info">Comment Classification</h1>
    </div>
    <form action="" method="post">
      <div class="form-group">
        <div class="md-form">
          <textarea id="text" class="md-textarea form-control" rows="5" type="text" name="data"></textarea>
          <label for="text">Type your comment:</label>
        </div>
        <div class="d-flex d-row justify-content-start">
          <button id="submit" class="btn btn-info btn-block" style="max-width: 150px;">Predict</button>
          <h6 class="text-success ml-5 mt-2" style="font-size: large;">{{ result }}</h6>
        </div>
      </div>
    </form>
  </div>
  <footer class="footer">
    <div class="container border-top mb-3">
    </div>
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <h5 class="text-info">About us</h5>
      </div>
      <div class="row d-flex d-row justify-content-between ml-5 pl-5">
        <div class="card-body ml-2">
          <h5 class="card-title">Web Design and AI Modeling</h5>
          <h6 class="card-subtitle mb-2 text-muted">Tran Ngoc Nam Anh</h6>
        </div>

        <div class="card-body">
          <h5 class="card-title">Web Backend and AI Implementation</h5>
          <h6 class="card-subtitle mb-2 text-muted">Nguyen Ngoc Huy</h6>
        </div>

        <div class="card-body">
          <h5 class="card-title">Power Point and Report</h5>
          <h6 class="card-subtitle mb-2 text-muted">Le Truong Long</h6>
        </div>

      </div>
    </div>
  </footer>
  <script src="/static/jquerry/jquerry.min.js"></script>
  <script src="/static/popper/popper.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/mdbootstrap/js/mdb.min.js"></script>
</body>