<!doctype html>
<title>Classification</title>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<form action="" method="post">
  <div class="form-group">
    <label >Comment</label>
    <textarea class="form-control" id="text" rows="3" type="text" name="data"></textarea><br>
    <button id="submit" class="btn btn-primary">Predict</button>
  </div>
</form><br>
<label> {{result}} </label>
</body>